interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Time
  response:
    body:
      string: '{"error": [], "result": {"unixtime": 1775640439, "rfc1123": "Wed, 08
        Apr 26 09:27:19 +0000"}}'
    headers:
      Content-Type:
      - application/json
      b69oaiuh7-pad:
      - BQX2#U2KHTquarX4+zcmPVgb~kH361v0&t
      x-proxy:
      - gateway
      x-trace-id:
      - 0ab2b882019d6c6ae9b400209e99c918
    status:
      code: 200
      message: OK
version: 1
